name: "Lint"

on:
    push:
        branches:
            - "main"
    pull_request:
        branches:
            - "main"

jobs:
    ruff:
        name: "Ruff"
        runs-on: "ubuntu-latest"
        steps:
            - name: "Checkout the repository"
              uses: "actions/checkout@v4"

            - name: Install uv
              uses: astral-sh/setup-uv@v4
              with:
                  enable-cache: true

            - name: Install Python
              run: uv python install

            - name: Install dependencies
              run: uv sync --all-extras --dev

            - name: Lint
              run: uv run ruff check .

            - name: Format
              run: uv run ruff format . --check
