name: "Release"

on:
    release:
        types:
            - "published"

permissions: {}

jobs:
    release:
        name: "Release"
        runs-on: "ubuntu-latest"
        permissions:
            contents: write
        steps:
            - name: "Checkout the repository"
              uses: "actions/checkout@v4.1.6"

            - name: "ZIP the integration directory"
              shell: "bash"
              run: |
                  cd "${{ github.workspace }}/custom_components/ha_maintenance_counters"
                  zip ha_maintenance_counters.zip -r ./

            - name: "Upload the ZIP file to the release"
              uses: softprops/action-gh-release@v2.4.2
              with:
                  files: ${{ github.workspace }}/custom_components/ha_maintenance_counters/ha_maintenance_counters.zip
