name: "Validate"

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * *"
    push:
        branches:
            - "main"
    pull_request:
        branches:
            - "main"

jobs:
    hassfest: # https://developers.home-assistant.io/blog/2020/04/16/hassfest
        name: "Hassfest Validation"
        runs-on: "ubuntu-latest"
        steps:
            - name: "Checkout the repository"
              uses: "actions/checkout@v6"

            - name: "Run hassfest validation"
              uses: "home-assistant/actions/hassfest@master"

    hacs: # https://github.com/hacs/action
        name: "HACS Validation"
        runs-on: "ubuntu-latest"
        steps:
            - name: "Checkout the repository"
              uses: "actions/checkout@v6"

            - name: "Run HACS validation"
              uses: "hacs/action@main"
              with:
                  category: "integration"
                  # Remove this 'ignore' key when you have added brand images for your integration to https://github.com/home-assistant/brands
                  ignore: "brands"

    lockfile:
        name: "Ensure that uv.lock is up to date"
        runs-on: "ubuntu-latest"
        steps:
            - name: "Checkout the repository"
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                  enable-cache: true

            - name: Check if uv.lock matches pyproject.toml
              run: uv lock --locked
